body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #b8b5b58f;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    color: #666;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #333;
}

.item {
    margin-bottom: 15px;
}

.item h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.item p {
    margin: 5px 0 10px;
    color: #666;
}

.skills {
    list-style: none;
    padding: 0;
}

.skills li {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}
